body {
    background-color: white;
}

.text-center {
    text-align: center;
}

.text-purple {
    color: purple;
}
.relative {
    position: relative;
}
.blue {
    position: static;
    color: #0000ff;
    height: 10em;
    width: 10em;
    
}

.box {
    height: 10em;
    width: 10em;
}

#two {
    position: static;
    top: 10px;
    left: 50px;
    background: blue;
}    

#one {
    position: relative;
    top: 100px;
    left: 55px;
    background: red; 
}

#three {
    position: absolute;
    top: 100px;
    right: 65px;
    background: green;
}

span {
    display: block; 
}