
body {
    background-color: #0c5ff0;
    padding: 2em 1em 2em;
}

span {
    font-size: 1.5em;
}

.text-center {
    text-align: center 
}

.text-red {
    color: #ff0000
}

.font-small {
    font-size: 80%;
}

.pixels {
    font-size: 16px;
}

.ems {
    font-size: 3em;
}

.rems {
    font-size: 3rem;
}

.percent {
    font-size: 100%;
}
.vpu {
    height: 50vh;
    width: 50vw;
    background: blue 
}

.box {
    height: 5em;
    width: 5em;
}

#one {
   position: sticky;
   top: 10em;
   left: 10em;
   background: greenyellow
}

.vpu {
    height: 50vh;
    width: 75vw;
    background: pink;
}

.button {
    border-bottom-color: red;
    border-block-end-color: green;
    border-style: dotted; 
}

#test {
    position: absolute;
    top: 10em;
    left: 10em;
    background: purple;
    font: white; 
    padding: 5px 5px 5px 5px;
}



